{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
    <section class="content ex-content">
    {% for ex in programme.exercices %}
        <div class="exercice-container hidden">
                <h2>{{ex.exercice.name}}</h2>
                
                {% if ex.repetitions %}
                <p>X{{ex.repetitions}}</p>
                {% else %}
                    <p>{{ex.temps}}s</p>
                {% endif %}
                <p>Série</p>
                <p>{{ex.serie}}</p>
        </div>
        
        
    {% endfor %}
            
    <button id="suivant" class='button btn-principal'>Suivant</button>

              
    </section>
{% endblock %}
