{% extends 'base.html.twig' %}

{% block title %}Entrainement
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
	<section class="content ex-content">
		{% for ex in programme.exercices %}
			<div class="exercice-container ">
             <img src="{{vich_uploader_asset(ex.exercice)}}" alt="image de l'exercice {{ex.exercice.name}}" class="ex-img">
            <div class="exo anim animate fade-inL">
            
				<h2>{{ex.exercice.name}}</h2>
				{% if ex.repetitions %}
					<p>X{{ex.repetitions}}</p>
				{% else %}
					<p class='timer'>{{ex.temps}}s</p>
				{% endif %}
                </div>
                <div class="repos hidden ">
                    <h2>Repos</h2>
                    <p class="repoTimer">{{ex.repos}}s</p>
                </div>
			</div>
            
		{% endfor %}
		<div class="resume hidden">
			<div id='success'>
				<img src="{{ asset('img/animated/success.gif') }}" alt="gif de succes d'exercice">
			</div>
			<h2>
				Bravo !!!
			</h2>
			<p>Vous avez completé {{programme.name}}</p>
            </div>
		</div>

		<button id="suivant" class='button btn-principal'>Suivant</button>
		<a href="{{path('app.home')}}" class='button btn-principal hidden terminer'>Accueil</a>


	</section>



{% endblock %}
