{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
    <section class="content">
    {% for ex in programme.exercices %}
        <div class="exercice-container hidden">
                <h2>{{ex.exercice.name}}</h2>
                
                <img src="{{ex.exercice.gifUrl}}" alt="">
                {% if ex.repetitions %}
                    <p>Repetitions</p>
                <p>{{ex.repetitions}}</p>
                {% else %}
                    <p>Temps</p>
                    <p>{{ex.temps}}</p>
                {% endif %}
                <p>Série</p>
                <p>{{ex.serie}}</p>

                <p>Instructions</p>
                <p>{{ex.exercice.Instruction}}</p>
                
                
        </div>
        
        
    {% endfor %}
    <div class="btn-container">
    <button id="suivant" class='button btn-principal'>Suivant</button>
    </div>
    </section>
{% endblock %}
