{% extends "base.html.twig" %}

{% block body %}
<section class="login">
    <h1 class="text-center">Se connecter</h1>

    <div id="center-form">
        <form action="{{ path('app.login') }}" method="POST">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="form-group">
			
                <label for="email">Email:</label>
				<div class="input-container">
				<i class="fa-solid fa-user icon"></i>
                <input type="email" id="email" name="_username" value="{{ lastUsername }}" class="form-control">
				</div>
		    </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <div class="input-container">
					<i class="fa-solid fa-lock icon"></i>
                    <input type="password" id="password" name="_password" class="form-control">
                    <button type="button" id="toggle-password" class="toggle-password">Show</button>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
                <p>Vous n'avez pas de compte ? <a href="{{ path('app.register') }}">Inscrivez-vous</a></p> 
                <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
            
            <button type="submit" class="button btn-principal">Connexion</button>
        </form>
    </div>
</section>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePasswordButton = document.getElementById('toggle-password');
        const passwordField = document.getElementById('password');

        togglePasswordButton.addEventListener('click', function () {
            const type = passwordField.type === 'password' ? 'text' : 'password';
            passwordField.type = type;
            togglePasswordButton.textContent = type === 'password' ? 'Show' : 'Hide';
        });
    });
</script>
{% endblock %}
