{% if programmes is not null %}
    <div>
        <div class="swiper slider-new">
            <div class="swiper-wrapper">
                {% if programmes|length > 0 %}
                    {% for new in news %}
                        <div class="swiper-slide">
                            <div class="pro-list" style="background: center/cover url('{{ vich_uploader_asset(new.categorie) }}')">
                                <a href="{{ path('user.programmes.details', {slug: new.slug}) }}" id="ex-link">
                                    <div class="text-container">
                                        <h2>{{ new.name }}</h2>
                                        <p>{{ new.shortDescription }}</p>
                                        <p><i class="fa-solid fa-dumbbell fa-xs"></i> {{ new.exercices|length }}</p>
                                    </div> 
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- Optionally, include a message or content if there are no programmes -->
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <p class='empty'>Aucun donnée pour le moment</p>
{% endif %}
 <div class="swiper-pagination"></div>