{% if programmes is not null %}
<div class="swiper slider-programme">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% if programmes|length > 0 %}
        {% for programme in programmes %}
        <div class="swiper-slide">
            <a href="{{ path('user.programmes.details', {slug: programme.slug}) }}" id="ex-link">
                <div class="pro-list" style="background: center/cover url('{{ vich_uploader_asset(programme.categorie) }}')">
                    <div class="text-container">
                        <h2>{{ programme.name }}</h2>
                        <p>{{programme.shortDescription}}</p>
                        <p><i class="fa-solid fa-dumbbell"></i> {{ programme.exercices|length }}</p>
                        <i class="fa-solid fa-fire" style="color: #FFD43B;"></i>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>rien a voir ici</p>
        {% endif %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
{% else %}
<p>Aucun donnée pour le moment</p>
{% endif %}
