{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
    <section class="">
        {% include "Home/_dashboard.html.twig" %}
        <div class="hstart-content">
            <h2 class='title'>Tendances</h2>
            {% include "Home/_swiperTendance.html.twig" %}
        </div>

        <div class="home-new">
            <h2 class="title">Nouveautés</h2>
            {% for programme in new %}
            <a href='{{path('user.programmes.details',{slug:programme.slug})}}'>
                <div class="pro-list">
                <div class="img-container" style="background: center/cover url('{{vich_uploader_asset(programme.categorie)}}')"></div>
                <div class='text-container'>
                    <h2>{{ programme.name }}</h2>
                    <p><i class="fa-solid fa-dumbbell"></i> {{programme.exercices|length}}</p>
			    </div>
                </div>
                </div>
            </a>
            {% endfor %}
        </div>
       

        
    </section>
{% endblock %}
