{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
{% include "Home/_dashboard.html.twig" %}
    <section class="content anim animate fade-inC">
        <div class="hstart-content" id='trending'>
            <h2 class='title'>Tendances</h2>
            {% include "Home/_swiperTendance.html.twig" %}
        </div>

        <div class="home-new">
            <h2 class="title">Nouveautés</h2>
            {% include "Home/_swiperNew.html.twig" %}
            <div class="programme-list hidden">
                {% for new in news %}
                
                    <div class="pro-list programme-item" data-protype="{{ new.proType.name }}" style="background: center/cover url('{{ vich_uploader_asset(new.categorie) }}')">
                       <a href="{{ path('user.programmes.details', {slug: new.slug}) }}">
                        <div class='text-container'>
                            <h2>{{ new.name }}</h2>
                            <p>{{ new.shortDescription }}</p>
                            <p><i class="fa-solid fa-dumbbell fa-xs"></i> {{ new.exercices|length }}</p>
                        </div>
                        </a> 
                    </div>
                
                {% endfor %}
            </div> 
        </div> >
    </section>
{% endblock %}