{% extends "base.html.twig" %}

{% block title %}Creation de Programme
{% endblock %}


{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}


{% block body %}
	<section class="content">
		<h1 class="text-center">Creation de mon programme</h1>
		
		{% include "Backend/Programme/_form.html.twig" %}
		<a href="{{path('user.profile.index')}}" class='btn-dng button'>Annuler</a>
	</section>
{% endblock %}
