{% extends "base.html.twig" %}

{% block title %}
	Détails des programmes
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content">
		<h1 class="text-center">Détails du Programme</h1>
		{% for ex in exercices %}
			<div class="exList">
				<p>{{ex.name}}</p>
			</div>
		{% endfor %}

		<button class="comment button btn-principal">Ajouter un commentaire</button>
		<div class="commentaire closed">
			{% if is_granted('ROLE_USER') %}
				{% include "Frontend/programme/_form.html.twig" %}
			{% else %}
				<div class="no-comment">
					<p>
						Veuillez vous
						<a href="{{path('app.login')}}">
							<strong>connecter</strong>
						</a>
						pour pouvoir commenter</p>
				</div>
			{% endif %}
		</div>

		<h2 class='mt-4'>Commentaires:
		</h2>

		{% for commentaire in commentaires %}
			{% if commentaire.programme.id == programme.id %}
				<div class="card border-secondary ">
					<p class="card-header bg-primary text-light mb-0">{{commentaire.name}}</p>
					<div class="card-body">
						<p class="card-text">{{commentaire.message|sanitize_html}}</p>
						<p class="card-text">

							{% for i in range(0,4) %}
								<i class="bi bi-star{{ i<= commentaire.note ? '-fill'}}"></i>

							{% endfor %}
						</p>

						<p class="card-text text-muted">{{commentaire.createdAt|ago}}</p>
					</div>
				</div>

			{% endif %}
		{% endfor %}


	</section>
{% endblock %}
