{% extends "base.html.twig" %}

{% block title %}
	Détails des programmes
	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="content">
	

		<h1 class="text-center">{{ programme.name }}</h1>
		{% for ex in exercices %}
			<div class="exList">
				<p class = 'titre'>{{ ex.exercice.name }}</p>
				<p> Repetitions : {{ ex.repetitions }}</p>
				<p> Serie : {{ ex.serie }}</p>
				<p> Temps : {{ ex.temps }}</p>
			</div>
		{% endfor %}
			<a href="{{path('programmes.training',{slug:programme.slug})}}" class='button btn-principal'>Commencez</a>
		<button class="comment button btn-principal">Ajouter un commentaire</button>
		<div class="overlay closed">
		<div class="commentaire closed">
		</div>
			{% if is_granted('ROLE_USER') %}
				{% include "Frontend/programme/_form.html.twig" %}
			{% else %}
				<div class="no-comment">
					<p>
						Veuillez vous
						<a href="{{ path('app.login') }}">
							<strong>connecter</strong>
						</a>
						pour pouvoir commenter</p>
				</div>
			{% endif %}
		</div>

		<h2 class='mt-4'>Commentaires:</h2>
		

		{% for commentaire in commentaires %}
			{% if commentaire.programme.id == programme.id %}
				<div class="display">
					<h2>{{commentaire.name}}</h2>
					<div class="display-content">
    					{% for i in range(0, 4) %}
        					<i class="{{ i < commentaire.note ? 'fa-solid' : 'fa-regular' }} fa-star"></i>
    					{% endfor %}
					</div>

						<p>{{commentaire.message|sanitize_html}}</p>

						<p>{{commentaire.createdAt|ago}}</p>
					</div>
				</div>


			{% endif %}
		{% endfor %}

	</div>
	
</section>{% endblock %}
