{{form_start(form,{'attr': {'class': "card p-3 w-50 mx-auto mt-3"}})}}
{{form_row(form.username)}}
{{form_row(form.email)}}
{{form_row(form.roles)}}
<button type="submit" class='button btn-principal'>Modifier</button>
{{form_end(form)}}
