{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block body %}
    <section class="content">
        <h1 class='text-center'>Administration</h1>

        <a href="{{path('admin.users.index')}}">
        <div class="listing">
            <p>Utilisateurs</p>
        </div>
        </a>
        <a href="{{path('admin.programmes.index')}}">
        <div class="listing">
            <p>Programmes</p>
        </div>
        </a>
        <a href="{{path('admin.exercices.index')}}"> 
        <div class="listing">
            <p>exercices</p>
        </div>
        </a>
        <a href="{{path('admin.categories.index')}}">
        <div class="listing">
            <p>categories</p>
        </div>
        </a>
        <a href="{{path('admin.commentaire.index')}}">
        <div class="listing">
            <p>commentaires</p>
        </div>
        </a>
    </section>
{% endblock %}