{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <section class='content'>
    <div class="favoris-head header">
        <h1 class="text-center">Mes Favoris</h1>
	</div>
        
        <div class="programme-list">
        {% for fav in favoris %}
            {% if fav %}
                <div class="pro-list programme-item" data-protype="{{ fav.programme.categorie.name }}" style="background: center/cover url('{{ vich_uploader_asset(fav.programme.categorie) }}')">
                    <a href='{{ path('user.programmes.details', {slug: fav.programme.slug}) }}'>
                        <div class='text-container'>
                            <h2>{{ fav.programme.name }}</h2>
                            <p>{{ fav.programme.shortDescription }}</p>
                            <p><i class="fa-solid fa-dumbbell fa-xs"></i> {{ fav.programme.exercices|length }}</p>
                        </div>
                    </a>
                    <form action="{{ path('user.favoris.delete', {id: fav.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce programme de vos favoris ?')">
                        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ fav.id) }}">
                        <button type="submit" class="btn btn-danger add">supprimer</button>
                    </form>
                </div>
            {% else %}
                <h2>Nothing here...</h2>
            {% endif %}
        {% endfor %}
        </div> 
        <div class="btn-container">
            <a href="{{ path('user.programmes.index') }}" class='button btn-principal'>Ajouter</a>
        </div>
    </section>
{% endblock %}
