{% extends "base.html.twig" %}

{% block body %}
<section >
    <h1 class="text-center">modification profile</h1>
    <div id="center-form">
    {{form_start(form,{'attr': {'class': ""}})}}
    {{form_widget(form)}}
    
    <div class="btn-container">
   
    
    <button type="submit" class='button btn-principal'>Modifier</button>
    </div>
    
{{form_end(form)}}
    </div>
</section>
 <form action="{{ path('user.profile.delete', {id: user.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte')">
					<input type="hidden" name="token" value="{{ csrf_token('delete'~ user.id) }}">
									<button type="submit" class="button btn-secondaire">Supprimer</button>
								</form>
{% endblock %}