{% extends "base.html.twig" %}

{% block title %}
	Profile
{% endblock %}

{% block body %}
	<section class="profile">
		<h1>Mon profil</h1>
		<div class="me">
		<img src="{{vich_uploader_asset(user)}}" alt="" height='50px' width='50px'>
		
			<div class="para">
				<h2>{{user.username}}</h2>
				<p>{{user.email}}</p>
			</div>
			
		</div>
		<div class="info">
			<h3>Mes infos</h3>
			<div class="info-container">
				{% if user.userInfo is empty %}
					<p>
						Taille : 0 cm
					</p>
					<p>
						Poids : 0.0 kg

					</p>
					<p>
						IMC : 0

					</p>


				{% else %}
					<p>
						Taille :
						{{user.userInfo.taille}}
						cm
					</p>


					<p>
						Poids :
						{{user.userInfo.poids}}
						kg</p>
					<p>
						IMC :
						{{user.userInfo.poids / (user.userInfo.taille * user.userInfo.taille ) * 10000 }}
					</p>

				{% endif %}
				<a href="{{path('user.profile.infos',{id:user.id})}}" class="button btn-principal">Modifier</a>
			</div>

		</div>
		<a href="{{path('user.profile.edit',{id:user.id})}}" class="button btn-principal">Modifier</a>
	</section>
{% endblock %}
