{% extends 'base.html.twig' %}

{% block title %}
    Exercices
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
    <script>
        function myFunction() {
            var input, filter, exGrid, exDivs, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            exGrid = document.getElementsByClassName("ex-grid")[0];
            exDivs = exGrid.getElementsByTagName("a");
            for (i = 0; i < exDivs.length; i++) {
                a = exDivs[i].getElementsByTagName("p")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    exDivs[i].style.display = "";
                } else {
                    exDivs[i].style.display = "none";
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            var searchInput = document.getElementById("myInput");
            searchInput.addEventListener("keyup", myFunction);
        });
    </script>
{% endblock %}
{% block body %}
    <section class="content">
        <h1>Liste des Exercices</h1>

        <input type="text" id="myInput" class='search' placeholder="Rechercher un exercice...">

        <div class="ex-grid">
        {% for exercice in pagination %}
            <a href="">
            <div class="ex">
                <p>{{ exercice.name }}</p>
            </div>
            </a>
        {% endfor %}
        </div>
          <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}
