{% extends 'base.html.twig' %}
{% block title %}
	Administration protype
{% endblock %}
{% block body %}
	<section class="mt-4">
		<h1 class="text-center">Administration des protypes</h1>
		<a href="{{path('app.home')}}" class="btn btn-secondaire">
			<i class="bi bi-chat-text"></i>Acceuil</a>
		<table class="table table-striped table-bordered" data-toggle="table" data-sort-name="fullName" data-sort-order="asc" data-pagination="true" data-search="true" data-show-columns="true">
			<thead>
				<tr>
					<th>Name</th>
					<th>Images</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for protype in protypes %}
					<tr>
						<td>{{protype.name}}</td>
						<td>
							{% if protype.imageName %}
								<img src="{{vich_uploader_asset(protype)}}" alt="image du type {{protype.name}}" height='50px' width='100%'></td>
						{% endif %}
						<td scope="col">
							<div class="d-flex gap-2">
								<a href="{{ path('admin.protype.edit', {slug: protype.slug}) }}" class="btn btn-warning">Modifier</a>
								<form action="{{ path('admin.protype.delete', {slug: protype.slug}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Type ')">
									<input type="hidden" name="token" value="{{ csrf_token('delete'~ protype.slug) }}">
									<button type="submit" class="btn btn-danger">Supprimer</button>
								</form>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
