{% extends "base.html.twig" %}

{% block body %}
	<section class="container">
		<h1>admin des exercices</h1>
        <div class="btn-container">
			<a href="{{path('app.home')}}" class="button btn-secondaire">
			<i class="bi bi-chat-text"></i>Acceuil</a>
			<a href="{{path('admin.exercices.create')}}" class='button btn-secondaire'>Ajouter</a>
            </div>
		<table class="table table-striped table-bordered" data-toggle="table" data-sort-name="fullName" data-sort-order="asc" data-pagination="true" data-search="true" data-show-columns="true">
			<thead>
				<tr>
					<th>Nom</th>
					<th>date de Creation</th>
					<th>Image de l'exercice</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for exercice in exercices %}
					<tr>
						<td>{{exercice.name}}</td>
						<td>{{exercice.createdAt|ago}}</td>
                        <td></td>

						<td scope="col">
							<div class="d-flex gap-2">
								<a href="{{ path('admin.exercices.edit', {id: exercice.id}) }}" class="btn btn-primaire">Modifier</a>
								<form action="{{ path('admin.exercices.delete', {id: exercice.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette exercice')">
									<input type="hidden" name="token" value="{{ csrf_token('delete'~ exercice.id) }}">
									<button type="submit" class="btn btn-danger">Supprimer</button>
								</form>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}
