    <div class="footer-basic">
        <footer>
            <div class="social"><a href="{{path('user.programmes.index')}}"><i class="icon fa-solid fa-medal fa-sm"></i></a><a href="{{path('app.home')}}"><i class="icon fa-solid fa-house fa-sm "></i></a><a href="{{path('user.profile.index')}}"><i class="icon fa-solid fa-user fa-sm"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{path('app.about')}}">About</a></li>
                <li class="list-inline-item"><a href="{{path('app.condition')}}">Conditions d'utilisations</a></li>
                <li class="list-inline-item"><a href="{{path('app.mention')}}">Mentions Légales</a></li>
                <li class="list-inline-item"><a href="{{path('app.confidentialite')}}">Politique de Confidentialité</a></li>
            </ul>
            <p class="copyright">Sporting © 2024</p>
        </footer>
    </div>