{% if app.request.get('_route') != 'app.landing' and app.request.get('_route') != 'programmes.training' %}
<nav>
    <ul>
        <li{% if app.request.attributes.get('_route') in [
                'user.programmes.index',
                'user.programmes.details',
                'user.programmes.list'
            ] %} class="active"{% endif %}>
            <a href="{{ path('user.programmes.index') }}"><i class="fa-solid fa-medal fa-2xl"></i></a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li{% if app.request.get('_route') == 'admin.index' %} class="active"{% endif %}>
                <a href="{{ path('admin.index') }}"><i class="fa-solid fa-lock fa-2xl"></i></a>
            </li>
        {% else %}
            <li{% if app.request.get('_route') == 'user.favoris.index' %} class="active"{% endif %}>
                <a href="{{ path('user.favoris.index') }}"><i class="fa-solid fa-heart fa-2xl"></i></a>
            </li>
        {% endif %}
        <li{% if app.request.get('_route') == 'app.home' %} class="active"{% endif %}>
            <a href="{{ path('app.home') }}"><i class="fa-solid fa-house fa-2xl"></i></a>
        </li>
        <li{% if app.request.get('_route') == 'user.profile.index' %} class="active"{% endif %}>
            <a href="{{ path('user.profile.index') }}"><i class="fa-solid fa-user fa-2xl"></i></a>
        </li>
        {% if app.user %}
            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a></li>
        {% else %}
            <li><a href="{{ path('app.login') }}"><i class="fa-solid fa-right-to-bracket fa-2xl"></i></a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
